
/* body {
    display: flex;
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(241, 221, 196);
    
}

.dice {
    display: flex;
    justify-content: center;
    padding: 30px;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
}
h1{
    color:rgb(11, 228, 163);
}

.diceborder{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
  align-items: center;
  margin: 20px;

      
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(241, 221, 196);
}

h1 {
    color: rgb(11, 228, 163);
    margin: 20px 0;
}

.diceborder {
    background-color: whitesmoke;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.dice {
    display: flex;
    justify-content: center;
    padding: 30px;
}

img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}